<h2 class="text-xl text-gray-light text-center mt-2">Cards will be displayed here.</h2>

<div class="flex justify-center">
    {{#each products}}
        {{> cards}}
    {{/each}}
</div>
    {{#if hasPrevPage}}
        <p class="text-xl text-gray-light text-center mt-2"><a href="/realtimeproducts?page={{prevPage}}"> Previous </a></p>
    {{/if}}

    {{#if hasNextPage}}
        <p class="text-xl text-gray-light text-center mt-2" ><a  href="/realtimeproducts?page={{nextPage}}"> Next </a></p>
    {{/if}}
<h4 class="text-xl text-gray-light text-center mt-2">Page {{currentPage}} from {{totalPages}}</h4>

<p class="text-center mt-2"><a class="text-xl text-gray-light" href="./">Return to Home</a></p>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
<script src="./js/main.js"></script>